<template name="messages">
    <div class="container-fluid">
    <div class="panel panel-default message-panel">
        <div class="panel-heading">Messages</div>
        <div class="panel-body">

        <form style="background-color:#fff" class="form">
            <div class="form-group">
                 <textarea id="message" style="width:100%" class="form-control" placeholder="message"></textarea>
            </div>
            <div class="form-group">
                    <a id="sendInfo" class="btn btn-info"><i class="glyphicon glyphicon-info-sign"></i></a>
                    <a id="sendWarning" class="btn btn-warning"><i class="glyphicon glyphicon-warning-sign"></i></a>
                    <a id="sendSuccess" class="btn btn-success"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                    <a id="sendDanger" class="btn btn-danger"><i class="glyphicon glyphicon-thumbs-down"></i></a>
            </div>
        </form>

        <ul class="list-group">
            {{#each messages}}
                  <li class="list-group-item">
                      <span class="text-muted"><strong>{{username}}</strong>, {{formatDate timestamp}}</span>
                      <div class="alert {{class}}"><span style="margin: 5px">{{message}}</span></div>
                        <a style="margin:5px" class="btn btn-default toggleComments" data-show="true" data-comments="#comments{{_id}}">
                            <i  class="glyphicon glyphicon-comment text-muted"></i><span id="commentCount{{_id}}" style="margin-left:5px;background-color:gray" class="badge">{{commentCount _id}}</span> </a>
                     <div id="comments{{_id}}" style="display: none" class="well">
                         <form style="background-color:#efefef" class="form">
                             <div class="form-group">
                                 <input id="comment" type="text" class="form-control" placeholder="comment" style="margin:5px">
                                 <a id="commentInfo" data-parentid="{{_id}}" class="btn btn-info"><i class="glyphicon glyphicon-info-sign"></i></a>
                                 <a id="commentWarning" data-parentid="{{_id}}" class="btn btn-warning"><i class="glyphicon glyphicon-warning-sign"></i></a>
                                 <a id="commentSuccess" data-parentid="{{_id}}" class="btn btn-success"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                                 <a id="commentDanger" data-parentid="{{_id}}" class="btn btn-danger"><i class="glyphicon glyphicon-thumbs-down"></i></a>
                             </div>
                         </form>
                      <table  class="table table-bordered">
                        <tbody>

                          {{#each comments _id}}
                              <tr><td style="width:80px;color:black"><strong>{{username}}</strong></td><td> <div class="alert {{class}}"><span style="margin: 5px">{{message}}</span></div></td></tr>
                          {{else}}
                          <tr><td colspan="2">No comments found</td></tr>
                          {{/each}}
                        </tbody>
                      </table>
                     </div>
                  </li>
                {{else}}
                <li><div class="alert alert-info">No Records Found</div></li>
            {{/each}}
        </ul>

        </div>
    </div>
    </div>
</template>
